:root {
  --font-sans: "Graphik", "Arial", sans-serif;
  --font-serif: "Georgia", serif;
  --font-size: 20px;
  --font-scale: 1.333;
  --font-size-1: var(--font-size);
  --font-size-2: calc(var(--font-size-1)*var(--font-scale));
  --font-size-3: calc(var(--font-size-2)*var(--font-scale));
  --font-size-4: calc(var(--font-size-3)*var(--font-scale));
  --font-size-5: calc(var(--font-size-4)*var(--font-scale));
  --font-size-6: calc(var(--font-size-5)*var(--font-scale));
  --font-size-small: calc(var(--font-size-1)/var(--font-scale));
  --line-height: 1.4;
  --color-primary-light: #4FC9E6;
  --color-primary-dark: #5FA9BB;
  --color-secondary-light: #2F393C;
  --color-secondary-dark: #202F33;
  --color-secondary-darker: hsl(193, 23%, 6%);
  --border-radius: 5px;
  --padding-content: 2rem;
  --section-gap: 5rem;
  --section-gap-inner: 3.5rem;
  --gap-content: 2rem;
  --gap-large: 1rem;
  --gap-small: 0.75rem;
  --inner-width: 71.25rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

html, body, input, button {
  font-family: var(--font-sans);
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

a {
  line-height: var(--line-height);
}

p {
  line-height: var(--line-height);
}

blockquote {
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

body {
  background-color: var(--color-secondary-darker);
}

.quiz-container {
  display: grid;
  grid-template-columns: var(--grid-container);
  margin-top: 100px;
}

.data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-column: inner;
}

.demographic-data,
.economic-data,
.geographic-data {
  max-width: 400px;
  width: 100%;
}
.demographic-data__title,
.economic-data__title,
.geographic-data__title {
  color: var(--color-primary-light);
  font-size: var(--font-size-3);
  font-weight: 400;
  margin-top: 1.55rem;
}
.demographic-data__content,
.economic-data__content,
.geographic-data__content {
  color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.6;
}
.demographic-data .description,
.economic-data .description,
.geographic-data .description {
  font-weight: 600;
}

.hint {
  grid-column: inner;
  color: var(--color-primary-dark);
  font-size: var(--font-size-2);
  margin-top: 2.5rem;
  gap: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.hint .region,
.hint .capital {
  margin-top: 1rem;
  max-width: 800px;
  width: 100%;
}
.hint .region__description,
.hint .capital__description {
  font-weight: 600;
}
.hint__help {
  max-width: 400px;
  width: 100%;
  background-color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 16px;
}
.hint__feedback {
  font-size: var(--font-size-1);
  margin: 0;
  padding: 0;
  color: var(--color-secondary-darker);
}

.guess {
  grid-column: inner;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}
.guess__input {
  width: 100%;
  font-size: var(--font-size-2);
  background-color: var(--color-primary-dark);
  color: var(--color-secondary-darker);
  border: none;
  text-align: center;
  padding: 1rem;
  border-radius: 16px;
}
.guess__input::placeholder {
  color: var(--color-secondary-dark);
  opacity: 1;
}
.guess__submit, .guess__give-up, .guess__reset {
  white-space: nowrap;
  max-width: 100%;
  font-size: var(--font-size-2);
  background-color: var(--color-primary-dark);
  color: var(--color-secondary-dark);
  border: none;
  text-align: center;
  padding: 1rem;
  border-radius: 16px;
  cursor: pointer;
}
.guess__submit.hidden, .guess__give-up.hidden, .guess__reset.hidden {
  display: none;
}

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-primary-dark);
  background-color: var(--color-secondary-darker);
}

.logo {
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--font-size-3);
  color: var(--color-primary-light);
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}

.menu {
  margin-right: 1rem;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  list-style: none;
}
.menu__link {
  text-decoration: none;
  color: var(--color-primary-dark);
}
.menu__link:hover {
  color: var(--color-primary-light);
}

/*# sourceMappingURL=style.css.map */
